body {
  margin: 0 auto;
  width: 500px;
  height: 1200px;
  position: relative;
}

header {
  background-color: rgb(255, 213, 77);
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 600;
}

header div {
  padding-bottom: 25px;
}

.search-form {
  position: absolute;
  top: 95px;
}

.search {
  width: 410px;
  height: 50px;
  margin-left: 23px;
  border-radius: 25px;
  font-size: 17px;
  padding-left: 40px;
  border: none;
  box-shadow: 0px 2px 15px rgb(204, 204, 204);
}

.search::placeholder {
  color: rgb(204, 204, 204);
}

.search-form i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(204, 204, 204);
}

main {
  padding: 0 20px;
}

.book__first-container {
  margin-top: 55px;
  margin-bottom: 40px;
}

.book__first-container h2 {
  font-size: 28px;
}

.book__column-container,
.book__third-column {
  display: flex;
}

.book__column-container .book-column img {
  width: 170px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.book__column-container .book-column:first-child,
.book__third-column .third-column {
  margin-right: 25px;
}

.book__column-container .book-column:last-child {
  margin-top: -20px;
}

.book__column-container .book-column:last-child h4,
.book__third-column .third-column:last-child h4 {
  font-size: 22px;
  margin-bottom: 5px;
}

.book__column-container .book-column:last-child span,
.book__third-column .third-column:last-child span {
  font-size: 18px;
  font-weight: 600;
  color: rgb(221, 221, 221);
}

.book__column-container .book__star-icon {
  margin: 10px 0;
}

.book__column-container .book__btn {
  margin: 25px 0;
}

.book__column-container .book__btn button {
  font-size: 15px;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.book__column-container .book__icon-btn {
  display: flex;
  justify-content: space-between;
}

.book__column-container .book__icon-btn div {
  background-color: rgb(255, 213, 77);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__column-container .book__icon-btn button {
  border: none;
  font-size: 15px;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.book__second-container h2 {
  font-size: 28px;
}

.book__list-container {
  display: flex;
}

.book__list-container .book__list-column {
  margin-right: 15px;
}

.book__list-container .book__list-column:last-child {
  margin-right: 0px;
}

.book__list-container img {
  width: 100px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.book__third-container {
  margin: 40px 0;
}

.book__third-column .third-column:last-child {
  margin-top: -20px;
}

.third-column img {
  width: 200px;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}
